---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <Social platform="instagram" username="r.leary04" />
    <Social platform="github" username="RLeary04" />
    <a class="linkedin" href="https://www.linkedin.com/in/rleary04">linkedin</a>
</footer>
